HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Arquivo .env
.env

# Configurações específicas do sistema operacional
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Diretórios de compilação
/out/

# Arquivos temporários
*.tmp
*.swp
*.swo
*.bak

# Dependências baixadas pelo Maven ou Gradle
/.mvn/
/.gradle/
/build/